/* /Navbar/ */
.navbar-bg{
    background: #aeb9c0;
  }
  
  
  /* /Contact/ */
  
  
  .back1{
    
    background-image: url(../img/Contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 600px;
    /* opacity: 70%; */
  }  
  
  .IMGW{
    width: 64px;
    height: 64px;
  }
  
  .textarea{
  height: 100px !important;
  }
  
  .Callus{
  background: #005689;
  }
  
  /* header */
  
  
  .pageheader{
      background-image: url("https://img.freepik.com/free-photo/redhead-girl-tourist-explores-city-looks-paper-map-find-way-historical-landmarks-woman_1258-196421.jpg?w=996&t=st=1707651068~exp=1707651668~hmac=e0e08c22e429c6adba128ced59b90f09d431b99e7d578a26949f3ea1b0813e42"); 
      center center no-repeat;
      background-size: cover;
      background-position-y: 15%;
      width: 100%;
      height: 1080;
      background-filter: blure(5);
  }
  
  .h1{
      font-weight: 600; 
  }
  
  .img64{
      width: 64px;
      height: 64px;
  }
  
  .img45{
      width: 45px;
      height: 45px;
  }
  .container.facts .facts-text {
      background: linear-gradient(rgba(1, 95, 201, 0.9), rgba(1, 95, 201, 0.9));
    }
  
    @media (min-width: 1200px) {
      .container.facts .facts-text {
        padding-left: calc(((100% - 1140px) / 2) + 0.75rem);
      }
    }
    @media (min-width: 992px) {
      .container.facts .facts-text {
        padding-left: calc(((100% - 960px) / 2) + 0.75rem);
      }
    }
  
    .container.facts .facts-text .h-100, .container.facts .facts-counter .h-100 {
      padding: 6rem 0;
        padding-right: 0px;
        padding-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .container.facts .facts-counter {
      background: linear-gradient( rgba(220, 220, 220, 0.9), rgba(220, 220, 220, 0.9) );
    }
  
    @media (min-width: 1200px) {
      .container.facts .facts-counter {
        padding-right: calc(((100% - 1140px) / 2) + 0.75rem);
      }
    }
  
    .container.facts .facts-counter .h-100 {
      padding: 6rem 0;
        padding-right: 0px;
        padding-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
  /* style part3 */
  .team-item {
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
    }
    .team-item img {
      transition: 0.5s;
    }
    .team-text {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -50px;
      opacity: 0;
      transition: 0.5s;
    }

    .team-item:hover .team-text {
      bottom: 0;
      opacity: 1;
    }
    /* .team-item:hover .team-item img{
      transform: scale(1.1);
    } */